style
  include ../styles/main.css
script(src='scripts/vendor/jquery/jquery.js')
script(src='scripts/home.js')
script.
  var environment="#{environment}";
script(src='scripts/loadJS.js')
script(src='scripts/loadConfig.js')
